<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toolbar</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/css/patternfly.min.css" rel="stylesheet" media="screen, print">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.14.0/js/patternfly.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <style> .breadcrumb>li+li:before { content: none; } </style>
  <style>
  @media (min-width: 992px) {
    .list-group-item-text {
      margin-left: 40px;
      margin-top: -5px;
    }
  }
  .list-view-pf-checkbox {
    margin-top: 30px;
  }
  .card-pf-view.pink-card {
    background-color: #ffe6e6;
  }
  .card-pf-view.active {
    border: 2px solid #39a5dc;
  }
  .toolbar-pf-view-selector ul {
    list-style-type: none;
  }
  .toolbar-pf-view-selector ul li {
    float: left;
    padding-left: 16px;
  }
  .toolbar-pf-view-selector ul li.active .btn-link {
    color: #0088ce;
  }
  </style>
</head>
<body class="cards-pf" cz-shortcut-listen="true">
  <nav class="navbar navbar-default navbar-pf">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="https://rawgit.com/patternfly/patternfly/master-dist/dist/img/brand.svg" alt="PatternFly Enterprise Application">
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
      <ul class="nav navbar-nav navbar-utility">
        <li><a href="#">Status</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="pficon pficon-user"></span>Brian Johnson <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Another link</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-primary">
        <li><a href="opt1.html">Option 1</a></li>
        <li class="active"><a href="opt2.html">Option 2</a></li>
        <li><a href="opt3.html">Option 3</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <!-- breadcrumb and view switcher -->
    <div class="row toolbar-pf">
      <div class="col-sm-12">
        <ol class="breadcrumb" style="display: inline;">
          <li><a href="#bread" data-toggle="modal" style="padding-right: 8px;"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
          <li class="active"><strong>Fourth Level</strong></li>
        </ol>
        <div class="form-group toolbar-pf-view-selector pull-right">
          <ul>
            <li><a class="btn btn-link" href="#table" data-toggle="tab"><i class="fa fa-th"></i></a></li>
            <li class="active"><a class="btn btn-link" href="#card" data-toggle="tab"><i class="fa fa-th-large"></i></a></li>
            <li><a class="btn btn-link" href="#list" data-toggle="tab"><i class="fa fa-th-list"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- toolbar -->
    <div class="row toolbar-pf">
      <div class="col-sm-12">
        <form class="toolbar-pf-actions">
          <div class="form-group" style="padding-left: 0;">
            <a href="#action" data-toggle="modal" class="btn btn-default" type="button">Action</a>
            <a href="#action" data-toggle="modal" class="btn btn-default" type="button">Action</a>
            <a href="#action" data-toggle="modal" class="btn btn-default" type="button">Action</a>
          </div>
        </form>
        <form class="content-view-pf-pagination" style="border: 0; background: #fff;">
          <div class="form-group">
            <div style="display: inline; margin-right: 15px; padding-right: 15px; border-right: 1px solid #d1d1d1;" class="select-items-dropdown">
              <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" style="color: #333; font-size: 12px;"><b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-menu-right" style="margin-right: 180px; margin-top: 0;">
                <li><a href="#">Select Page</a></li>
                <li><a href="#">Select All</a></li>
                <li><a href="#">Clear Selected</a></li>
              </ul>
            </div>
            <span><span class="pagination-pf-items-current">1-15</span> of <span class="pagination-pf-items-total">75</span></span>
            <ul class="pagination pagination-pf-back">
              <li class="disabled"><a href="#" title="Previous Page"><span class="i fa fa-angle-left"></span></a></li>
            </ul>
            <label for="-page" class="sr-only">Current Page</label>
            <input class="pagination-pf-page" type="text" value="1" id="-page">
            <span>of <span class="pagination-pf-pages">5</span></span>
            <ul class="pagination pagination-pf-forward">
              <li><a href="#" title="Next Page"><span class="i fa fa-angle-right"></span></a></li>
            </ul>
          </div>
        </form>
        <!-- filters -->
        <div class="row toolbar-pf-results" style="border-top: 0;">
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane container-fluid" id="list">
        <div class="list-group list-view-pf list-view-pf-view">
          {{#each cities }}
          <!-- listitem -->
          <div class="list-group-item {{#compare @index '>=' 15}}hidden{{/compare}}">
            <div class="list-view-pf-checkbox">
              <input type="checkbox">
            </div>
            <div class="list-view-pf-main-info">
              <div class="list-view-pf-left">
                <span class="fa fa-map-marker list-view-pf-icon-md"></span>
              </div>
              <div class="list-view-pf-body">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    {{this.city}}, {{this.region}}
                  </div>
                  <div class="list-group-item-text">
                    The following snippet of text is <a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">rendered as link text</a>.
                  </div>
                </div>
                <div class="list-view-pf-additional-info">
                  <div class="list-view-pf-additional-info-item">
                    <span class="pficon pficon-screen"></span>
                    <strong>8</strong> Hosts
                  </div>
                  <div class="list-view-pf-additional-info-item">
                    <span class="pficon pficon-cluster"></span>
                    <strong>8</strong> Clusters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /listitem -->
          {{/each}}
        </div>
        <form class="content-view-pf-pagination clearfix" style="background: #fff; clear: both; margin: 20px -20px 0 -20px;">
          <div class="form-group dropup">
            <div class="btn-group bootstrap-select pagination-pf-pagesize">
              <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="6">
                <span class="filter-option pull-left">15</span>&nbsp;
                <span class="bs-caret"><span class="caret"></span></span>
              </button>
              <div class="dropdown-menu open">
                <ul class="dropdown-menu inner" role="menu">
                  <li data-original-index="0"><a tabindex="0"><span class="text">10</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="1" class="selected"><a tabindex="0"><span class="text">15</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="2"><a tabindex="0"><span class="text">25</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="3"><a tabindex="0"><span class="text">50</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group dropup">
            <div style="display: inline; margin-right: 15px; padding-right: 5px; border-right: 1px solid #d1d1d1;" class="select-items-dropdown">
              <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" style="color: #333;"><b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-menu-right" style="margin-right: 75px; margin-bottom: 5px;">
                <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Select Page</a></li>
                <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Select All</a></li>
                <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Clear Selected</a></li>
              </ul>
            </div>
            <span><span class="pagination-pf-items-current">1-15</span> of <span class="pagination-pf-items-total">75</span></span>
            <ul class="pagination pagination-pf-back">
              <li class="disabled"><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#" title="Previous Page"><span class="i fa fa-angle-left"></span></a></li>
            </ul>
            <label for="-page" class="sr-only">Current Page</label>
            <input class="pagination-pf-page sr-only" type="text" value="1" id="page">
            <span class="sr-only">of <span class="pagination-pf-pages">5</span></span>
            <ul class="pagination pagination-pf-forward" style="margin-left: 0;">
              <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#" title="Next Page"><span class="i fa fa-angle-right"></span></a></li>
            </ul>
          </div>
        </form>
      </div>
      <div class="tab-pane container-fluid" id="table">
        <div class="table-responsive" style="margin-top: 20px;">
          <table class="table table-striped table-bordered table-hover dataTable no-footer" id="table1" role="grid" style="background: #fff;">
            <thead>
              <tr>
                <th class="table-view-pf-select sorting_disabled" rowspan="1" colspan="1" aria-label="Select all rows"><label class="sr-only" for="selectAll">Select all rows</label></th>
                <th class="sorting_asc" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="City: activate to sort column descending">City</th>
                <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="State: activate to sort column ascending">State</th>
                <th colspan="2" rowspan="1">Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each cities }}
              <!-- tablerow -->
              <tr class="{{#compare @index '>=' 15}}hidden{{/compare}}">
                <td class=" table-view-pf-select"><label class="sr-only" for="select1">Select row 1</label><input type="checkbox" id="select1" name="select1"></td>
                <td class="sorting_1">{{this.city}}</td>
                <td>{{this.region}}</td>
                <td class=" table-view-pf-actions">
                  <div class="table-view-pf-btn">
                    <button class="btn btn-default" type="button">Actions</button>
                  </div>
                </td>
                <td class=" table-view-pf-actions">
                  <div class="dropdown dropdown-kebab-pf">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="fa fa-ellipsis-v"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Action</a></li>
                      <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Another action</a></li>
                      <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Something else here</a></li><li role="separator" class="divider"></li>
                      <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Separated link</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <!-- /tablerow -->
              {{/each}}
            </tbody>
          </table>
        </div>
        <form class="content-view-pf-pagination clearfix" style="background: #fff; clear: both; margin: 20px -20px 0 -20px;">
          <div class="form-group dropup">
            <div class="btn-group bootstrap-select pagination-pf-pagesize">
              <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="6" aria-expanded="false">
                <span class="filter-option pull-left">15</span>&nbsp;
                <span class="bs-caret"><span class="caret"></span></span>
              </button>
              <div class="dropdown-menu open">
                <ul class="dropdown-menu inner" role="menu">
                  <li data-original-index="0"><a tabindex="0"><span class="text">10</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="1" class="selected"><a tabindex="0"><span class="text">15</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="2"><a tabindex="0"><span class="text">25</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="3"><a tabindex="0"><span class="text">50</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group dropup">
            <div style="display: inline; margin-right: 15px; padding-right: 5px; border-right: 1px solid #d1d1d1;" class="select-items-dropdown">
              <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" style="color: #333;"><b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-menu-right" style="margin-right: 75px; margin-bottom: 5px;">
                <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Select Page</a></li>
                <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Select All</a></li>
                <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Clear Selected</a></li>
              </ul>
            </div>
            <span><span class="pagination-pf-items-current">1-15</span> of <span class="pagination-pf-items-total">75</span></span>
            <ul class="pagination pagination-pf-back">
              <li class="disabled"><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#" title="Previous Page"><span class="i fa fa-angle-left"></span></a></li>
            </ul>
            <label for="-page" class="sr-only">Current Page</label>
            <input class="pagination-pf-page sr-only" type="text" value="1" id="page">
            <span class="sr-only">of <span class="pagination-pf-pages">5</span></span>
            <ul class="pagination pagination-pf-forward" style="margin-left: 0;">
              <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#" title="Next Page"><span class="i fa fa-angle-right"></span></a></li>
            </ul>
          </div>
        </form>
      </div>
      <div class="tab-pane container-fluid container-cards-pf active" id="card">
        {{#each cities }}
        <!-- card -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 {{#compare @index '>=' 15}}hidden{{/compare}}">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
            <div class="card-pf-body">
              <div class="card-pf-top-element">
                <span class="fa fa-map-marker card-pf-icon-circle"></span>
              </div>
              <h2 class="card-pf-title text-center">
                {{this.city}}, {{this.region}}
              </h2>
              <div class="card-pf-items text-center">
                <div class="card-pf-item">
                  <span class="pficon pficon-screen"></span>
                  <span class="card-pf-item-text">8</span>
                </div>
                <div class="card-pf-item">
                  <span class="fa fa-check"></span>
                </div>
              </div>
              <p class="card-pf-info text-center"><strong>Created On</strong> 2015-03-01 02:00 AM <br> Never Expires</p>
            </div>
            <div class="card-pf-view-checkbox">
              <input type="checkbox">
            </div>
          </div>
        </div>
        <!-- /card -->
        {{/each}}
        <form class="content-view-pf-pagination clearfix" style="background: #fff; clear: both; margin: 20px -20px 0 -20px;">
        <div class="form-group dropup sr-only">
          <div class="btn-group bootstrap-select pagination-pf-pagesize">
            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="6" aria-expanded="false">
              <span class="filter-option pull-left">15</span>&nbsp;
              <span class="bs-caret"><span class="caret"></span></span>
            </button>
            <div class="dropdown-menu open">
              <ul class="dropdown-menu inner" role="menu">
                <li data-original-index="0"><a tabindex="0"><span class="text">10</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="1" class="selected"><a tabindex="0"><span class="text">15</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="2"><a tabindex="0"><span class="text">25</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                <li data-original-index="3"><a tabindex="0"><span class="text">50</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
              </ul>
            </div>
          </div>
          <span>per page</span>
        </div>
        <div class="form-group dropup">
          <div style="display: inline; margin-right: 15px; padding-right: 5px; border-right: 1px solid #d1d1d1;" class="select-items-dropdown">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" style="color: #333;"><b class="caret"></b></a>
            <ul class="dropdown-menu dropdown-menu-right" style="margin-right: 155px; margin-bottom: 5px;">
              <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Select Page</a></li>
              <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Select All</a></li>
              <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#">Clear Selected</a></li>
            </ul>
          </div>
          <span><span class="pagination-pf-items-current">1-15</span> of <span class="pagination-pf-items-total">75</span></span>
          <ul class="pagination pagination-pf-back">
            <li class="disabled"><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#" title="Previous Page"><span class="i fa fa-angle-left"></span></a></li>
          </ul>
          <label for="-page" class="sr-only">Current Page</label>
          <input class="pagination-pf-page" type="text" value="1" id="page">
          <span>of <span class="pagination-pf-pages">5</span></span>
          <ul class="pagination pagination-pf-forward">
            <li><a href="http://file.rdu.redhat.com/~mstevens/paging/opt1.html?#" title="Next Page"><span class="i fa fa-angle-right"></span></a></li>
          </ul>
        </div>
      </form>
      </div>
    </div>
    <div class="modal fade" id="action">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="pficon pficon-close"></span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Action</h4>
          </div>
          <div class="modal-body">
            Nice work!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="bread">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="pficon pficon-close"></span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Breadcrumb</h4>
          </div>
          <div class="modal-body">
            Nice work!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/toolbar.js"></script>
  <script>
  $(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".card-pf > .card-pf-body").matchHeight();
  });
  </script>
</body></html>
